body {
    background: url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png);
    background-repeat: no-repeat;
    background-size: 180%;
    font-family: 'Oxygen', sans-serif;
  }
  h1 {
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
  }
  
  #description {
    text-align: center;
    color: white;
  }
  
  #Survey-questions {
    background: linear-gradient(135deg,hsl(300,70%,40%)1%,hsl(240,50%,60%)30%,hsl(240,40%,80%));
    position: relative;
    left: 530px;
    padding: 30px;
    width: 250px;
    border-radius:10px;
  }
  
  label {
    color: white;
  }
  #check {
    color: white;
  }
  #number {
    width: 163px;
  }
  #comment-area {
    width: 250px;
    height: 50px;
  }
  
  .sports {
    position: absolute;
    width: 20%;
    top: 150px;
    right: 0px;
  }
  
  .sports2 {
    position: absolute;
    width: 20%;
    top: 150px;
    left: 0px;
  }
  
  #checkboxlink {
    position: absolute;
    top: 100px;
    right: 10px;
    border-radius: 15px;
    font-size: 20px;
  }
  
  #commentlink {
    position: absolute;
    top: 100px;
    left: 10px;
    border-radius: 15px;
    font-size: 20px;
  }