@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #eca4fb;
  padding: 0.5rem;
}

.container {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 25px;
  flex-basis: 200px;
  max-width: 95%;
  padding: 10px;
  border-radius: 15px;
  justify-content: center;
  top: 15%;
  position: absolute;
}

img {
  border-radius: 15px;
  padding: 2px;
  flex-shrink: 75%;
}

p {
  padding: 2px;
}
