* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background: black;
}
.white{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
   50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
   100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}
.ring:before {
  position: absolute;
  content:"";
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255,255,255,.3);
}
span {
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
  position: relative;
  left: 45px;
}
@keyframes text {
  50%{
    color: black;
  }
}

.container{
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text{
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
  letter-spacing: 2px;
}

.loading{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .line-box{
  padding: 2px;
  width: 40%;
  height: 20px;
  border: 2px solid #267591;
  border-radius: 20px;
}

.loading .line-box .line{
  height: 20px;
  border-radius: 20px;
  background: #67D295;
  animation: loading 5s forwards cubic-bezier(0,0,0,0);
}

@keyframes loading{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}